<h1 class="centertext-services">All services</h1>
  <ul class="cards">
    <% @services.each do |service| %>
      <li>
        <div class="card">
                <%= cl_image_tag service.user.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="centertext">
                  <h5><%= service.user.name %></h5>
                  <h6><%= service.user.last_name %></h6>
                    <div class="servicetext">
                      <p><%= service.details %></p>
                        <p>Genre: <%= link_to service.genre, service_path(service) %></p>
                    </div>
                </div>
            </div>
      </li>
    <% end %>
  </ul>
<%= link_to "Add a service", new_service_path %>
