<div class="screen">
  <div class="banner" style="background-image: url(<%= cl_image_path @service.user.photo.key %>)">
    <h2>Hi, I'm <strong><%= "#{@service.user.name} #{@service.user.last_name}" %></strong></h2>
    <h2><strong><%= "#{@service.genre}" %></strong></h2>
  </div>

  <div class="artist-info">
    <div class="info">
      <p><%= "#{@service.details}" %></p>
      <p><%= "#{@service.price.to_i}" "$/day" %></p>
    </div>

    <div class="songs">
      <iframe style="border-radius:12px" src="<%= @service.spotify_link.gsub(/spotify.com/, "spotify.com/embed") %>" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="spotify"></iframe>
    </div>

    <div class="bookings">
      <%= render "newbooking" %>
    </div>

      <div class="edit-delete">
        <% if policy(@service).edit? %>
          <%= link_to "Edit this service", edit_service_path(@service)%>
        <% end %>
          <%= button_to "Delete my service", @service, method: :delete if policy(@service).destroy?%>
      </div>
    </div>
</div>
