<div class="screen">
  <div class="banner" style="background-image: url(<%= cl_image_path @service.user.photo.key %>)">
    <h2>Hi, I'm <strong><%= "#{@service.user.name} #{@service.user.last_name}" %></strong></h2>
    <h3><strong><%= "#{@service.genre}" %></strong></h3>
  </div>

  <div class="info">
    <h3>ABOUT ME</h3>
    <p><%= "#{@service.details}" %></p>
    <p><%= "#{@service.price.to_i}" "$/day" %></p>
  </div>

  <div></div>
</div>
