<h1 class="centertext-services">My Services</h1>
  <ul class="cards">
    <% @services.each do |service| %>
      <%= link_to service_path(service) do %>

          <div class="card">
                  <%= cl_image_tag service.user.photo.key %>
                  <div class="centertext">
                    <h5><%= service.user.name %></h5>
                    <h6><%= service.user.last_name %></h6>
                      <div class="servicetext">
                        <p><%= service.details %></p>
                          <p>Genre: <%= service.genre %></p>
                      </div>
                  </div>
              </div>

      <% end %>
    <% end %>
  </ul>
<%= link_to "Add a service", new_service_path %>
