<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>MUSICIANSShoppa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script src='index.js' type="module" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
      <div class="page">
        <%= yield %>
      </div>
    <%= render "shared/footer" %>
  </body>
</html>
